/* Navbar */
.navbar {
  display: flex;
  justify-content: center;
  background: linear-gradient(90deg, #ff7e5f, #feb47b);
  padding: 15px 0;
  border-radius: 12px;
  margin-top: 5px;
  margin-bottom: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.navbar-list {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}


.navbar-link {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 18px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.navbar-link:hover {
  background-color: rgba(255, 255, 255, 0.25);
  transform: scale(1.1);
}